h1 {
    color:rgb(255, 217, 0);
    margin:0px;
    padding:0px;
    border:0px;
}

pre {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color:rgb(255, 217, 0);
    max-width: 80vw;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    word-wrap: break-word;
}

html, body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    color: white /*rgba(10,9,27,1)*/;
}

::selection {
    background:rgb(255, 217, 0);
    color:rgba(10,9,27,1);
}

p, div, input {
    font-size:18px;
}

.content {
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(10,9,27,1) 0%, rgba(9,9,121,1) 100%);
}

.playlist-wrapper {
    width:100%;
    height:100%;
    min-height:100vh;
    border: 2px solid green;
}

.filter {
    width: 100%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content:center;
}

.text-overlay {
    background-color:rgba(10,9,27,1);
    margin-right: 1vh;
    margin-left: 1vh;
    text-align:center;
}

.filter:hover {
    background: rgba(2,0,36,.5);
    width:100%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content:center;
}

.playlists-wrapper {
    width:90%;
    min-height:80vh;
    padding:0vh 10vh 0vh 10vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;
}

.grid > .playlist {
  background: black;
  padding: 1rem;
  display: grid;
}

.grid > .playlist::before,
.grid > .playlist > img {
  content: "";
  padding-bottom: 100%;
  display: block;
  grid-area: 1 / 1 / 2 / 2;
}

.grid > .playlist > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.playlist {
    margin: 1vw;
    display:flex;
    align-items: center;
    justify-content:center;
    background-color:black;
}

.terminal {
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(10,9,27,1) 0%, rgba(9,9,121,1) 100%);
    margin-top:-10vh;
    padding-top:10vh;
    width:100%;
    height:100%;
    min-height:80vh;
    display:flex;
    justify-content:left;
    align-items:flex-end; 
}

.terminal-input {
    background: rgba(10,9,27,1);
    border: 0px solid;
    height:20vh; /* if you change margin or padding, this must change as well */
    margin-bottom:0px;
    padding-bottom:0px;
    position:fixed;
    bottom:0;
    width:100%;
}

.spacer {
    height:20vh;
}

.login-register {
    background: rgba(10,9,27,255);
    background: radial-gradient(circle, rgba(10,9,27,1), rgba(10,9,27,0)), url(../static/images/starry_night.jpg);
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
}

td {
    font-weight: bold;
}

.navbar {
    background-color:transparent;
    background:linear-gradient(180deg, rgba(10,9,27,1) 0%, rgba(10,9,27,0) 100%);
    /*color:transparent;*/
    margin:-10vh 0vh 0vh 0vh; /* if you change padding or height, this must change as well */
    border: 0px solid;
    height:10vh; /* if you change margin or padding, this must change as well */
    padding-left:5vh;
    display:flex;
    position:sticky;
    position: -webkit-sticky;
    top: 0px;
}

.terminal-navbar {
    background: rgba(10,9,27,1);
    background:linear-gradient(180deg, rgba(10,9,27,1) 0%, rgba(10,9,27,0) 100%);
    height:10vh;
    padding-left:5vh;
    display:flex;
    position:sticky;
    position: -webkit-sticky;
    top: 0px;
}

a, a:hover, a:active {
    color:white;
    text-decoration: none;
}

.entry {
    background-image: linear-gradient(to top, rgba(10,9,27,1), rgba(10,9,27,0)), url(../static/images/starry_night.jpg); /* rgba(2,0,36,1);*/
    margin: 0px 0px 0px;
    border: 0px solid;
    padding:5vh;
    height:90vh;
    display:flex;
    justify-content:right; /* horizontally centering */
    align-items:center; /* vertically centering */
}

.second-slide {
    margin: 0px 0px 0px;
    border: 0px solid;
    padding:5vh;
    height:90vh;
    display:flex;
    justify-content:left;  /* horizontally centering */
    align-items:center; /* vertically centering */
}

/* SMALL BOX */
.even-flex-item:nth-child(odd) {
    margin-right:1vh;
    width: 29%;
    background-color: transparent;
    height:80vh;
    display:flex;
    align-items:center;
    justify-content:left;
}
.odd-flex-item:nth-child(even) {
    margin-left:1vh;
    width: 29%;
    background-color: transparent;
    height:80vh;
    display:flex;
    align-items:center;
    justify-content:right;
}

/* LARGE BOX */
.even-flex-item:nth-child(even) {
    margin-left:1vh;
    width: 70%;
    background-color: transparent; /* will get rid of later, just for sizing rn */
    text-align:right;
    height:80vh;
    display:flex;
    align-items:center;
    justify-content:right;
}

.odd-flex-item:nth-child(odd) {
    margin-right:1vh;
    width: 70%;
    background-color: transparent; /* will get rid of later, just for sizing rn */
    text-align:right;
    height:80vh;
    display:flex;
    align-items:center;
    justify-content:left;
}

.third-slide {
    margin: 0px 0px 0px;
    border: 0px solid;
    padding:5vh;
    height:90vh;
    display:flex;
    justify-content:right; /* horizontally centering */
    align-items:center; /* vertically centering */
}

.fourth-slide {
    margin: 0px 0px 0px;
    border: 0px solid;
    padding:5vh;
    height:90vh;
    display:flex;
    justify-content:left; /* horizontally centering */
    align-items:center; /* vertically centering */
}

.footer {
    margin: 0px 0px 0px;
    padding:5vh;
    height:10vh;
    display:flex;
    justify-content:center; /* horizontally centering */
    align-items:center; /* vertically centering */
}

.form-wrapper {
    display:flex;
justify-content:center;
    align-items:center;
}

form {
    padding: 5vh 5vw 5vh 5vw;
    border-radius: 4vh;
}

input[type="text"], 
input[type="password"], 
input[type="submit"], 
input[type="email"], 
input[type="text"]:focus, 
input[type="password"]:focus, 
input[type="submit"]:focus, 
input[type="email"]:focus, 
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
    background-color:transparent;
    border: 0px;
    border-bottom: .25vh solid rgb(255, 217, 0);
    outline: 0px;
    color: rgb(255, 217, 0);
    -webkit-text-fill-color:rgb(255,217,0);
    -webkit-box-shadow: 0 0 0px 1000px rgba(10,9,27,1) inset;
    transition: background-color 5000s ease-in-out 0s;
}

input[type="submit"] {
    color: rgb(255, 217, 0);
}

.form-group {
    padding: 1vh;
}

.terminal-txt {
    width:100%;
}

