{% extends 'pre_login.html' %}
{% block title %}
<title>Home</title>
<link href="../static/styles.css" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
{% endblock %}


{% block content %}

    <div id="cover" class="entry">
        <div class="odd-flex-item"></div>
        <div class="odd-flex-item"></div>
    </div>
    <!-- TODO: Work on styling here -->
    <div class="navbar">
        <ul style="list-style:none; padding:0; margin:0;">
            <li style="padding: 0vh 3vh 0vh 3vh; display:inline-block; list-style: outside none none; width:auto%"><a href="#cover"><h2>Cover</h2></a></li>
            <li style="padding: 0vh 3vh 0vh 3vh; display:inline-block; list-style: outside none none; width:auto;"><a href="#second"><h2>Second<h2></a></li>
            <li style="padding: 0vh 3vh 0vh 3vh; display:inline-block; list-style: outside none none; width:auto;"><a href="#third"><h2>Third</h2></a></li>
            <li style="padding: 0vh 3vh 0vh 3vh; display:inline-block; list-style: outside none none; width:auto;"><a href="#fourth"><h2>Fourth</h2></a></li>
            <li style="padding: 0vh 3vh 0vh 3vh; display:inline-block; list-style: outside none none; width:auto;"><a href="/login"><h2>Login</h2></a></li>
            <li style="padding: 0vh 3vh 0vh 3vh; display:inline-block; list-style: outside none none; width:auto;"><a href="/register"><h2>Register</h2></a></li>
            <li style="padding: 0vh 3vh 0vh 50vh; display:inline-block; list-style: outside none none; width:auto;"><h1>Terminal Emulator</h1></li>
        </ul>
    </div>
<div class="content">
    <div id="second" class="second-slide">
        <div class="even-flex-item">
            <h1>Welcome!</h1>
        </div>
        <div class="even-flex-item">
            Descriptive content goes here
        </div>
    </div>
    <div id="third" class="third-slide">
        <div class="odd-flex-item">
            Content will go here as well
        </div>
        <div class="odd-flex-item">
            <h1>This is pretty cool, right?</h1>
        </div>
    </div>
    <div id="fourth" class="fourth-slide">
        <div class="even-flex-item">
        <h1>Click here to learn more!</h1>
        </div>
        <div class="even-flex-item">
            More content descriptors/images go here
        </div>
    </div>
    <div class="footer">
        <h1>Footer</h1>
    </div>
</div>
{% endblock %}