{% extends 'post_login.html' %}
{% block title %}
<title>Your Playlists</title>
<link href="../static/styles.css" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="content">
    <div class="terminal-navbar" style="justify-content:right;">
        <a href="/"><h1 style="padding-right:5vh; padding-top:2vh; ">Playlists</h1></a>
    </div>
    <div class="playlists-wrapper">
        
    </div>
    <div class="spacer"></div>
</div>
{% endblock %}
