{% extends 'pre_login.html' %}
{% block title %}
<title>Register</title>
<link href="../static/styles.css" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="login-register form-wrapper" style="height:100vh">
    <form method="POST" action="/register">
        {{ form.hidden_tag() }}
        <h1 style="padding-top:1vh; padding-bottom:1vh; margin-bottom:1vh; text-align:center;">Register</h1>
            <div class="form-group">
                {{ form.username.label() }}
                {% if form.username.errors %}
                    {{ form.username() }}
                    <div class="invalid-feedback">
                        {% for error in form.username.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.username() }}
                {% endif %}
                {% if bad_un %}
                    <br />
                    <span style="color:red">{{bad_un}}</span>
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.email.label() }}
                {% if form.email.errors %}
                    {{ form.email() }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email() }}
                {% endif %}
                {% if bad_em %}
                    <br />
                    <span style="color:red">{{bad_em}}</span>
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.password.label() }}
                {% if form.password.errors %}
                    {{ form.password() }}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.password() }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.confirm_password.label() }}
                {{ form.confirm_password() }}  
            </div>
            <div class="form-group">
                {{ form.submit() }}
            </div>
            {% if bad_un_em %}
                <br />
                <span style="color:red">{{bad_un_em}}</span>
            {% endif %}
            <div class="form-group">
                Already have an account? Click <a href="/login">here</a> to login!
            </div>
    </form>
</div>
<div class="navbar" style="justify-content:right; align-items:center">
    <a href="/"><h1 style="padding-right:5vh">Terminal Emulator</h1></a> 
</div>
{% endblock %}