{% extends 'post_login.html' %}
{% block title %}
<title>Terminal</title>
{% endblock %}
{% block content %}
<form method="POST" action="">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
        <div class="form-group">
            {{ form.text.label() }}
            {% if form.text.errors %}
                {{ form.text() }}
                <div class="invalid-feedback">
                    {% for error in form.text.errors%}
                        <span>{{error}}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.text() }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.submit() }}
        </div>
</form>
<div>
    {{ response }}
</div>
{% endblock %}